<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Microservice API Test Automation suite">

<listeners>
<listener class-name="com.qa.listener.Test_Listener"/>
<listener class-name="com.qa.listener.Retry_Listener"/>
</listeners>

  <test name="Microservice API Automation Test">
    <classes>
      <class name="com.qa.tests.PostAPI_CreateNewCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
